<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeywordDriven.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <KeywordDriven.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>username</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="LoginBtn" serializeAs="String">
                <value>//button[@type='submit']</value>
            </setting>
            <setting name="AddUserBtn" serializeAs="String">
                <value>//button[@id='BtnAdd']</value>
            </setting>
        </KeywordDriven.Properties.Settings>
    </applicationSettings>
</configuration>